[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-socketio = "*"
speechrecognition = "*"
gtts = "*"

[requires]
python_version = "3.8"
