  
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Google Events</title>
        <link rel="stylesheet" href= "../css/app.css" type="text/css">
    </head>

    <body>
    <body>
        <div class="navbar-container">
            <nav class="navbar navbar-expand-lg navbar-dark">
             <a class="navbar-brand" href="/">StudentSearch</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarColor01">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item">
                   <a class="nav-link" href="/login"> Login </a>
                 </li>
                   <li class="nav-item" id="logout">
                   <a class="nav-link" id='logout' href="/login"> Logout </a>
                 </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Chat
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <a class="dropdown-item" href="/chat">CHAT with Others</a>
                       <a class="dropdown-item" href="/jobfinder">Chat with OffEye </a>
                     </div>
                   </li>
                 <li class="nav-item">
                   <a class="nav-link" href="/history"> Chat History </span></a>
                 </li>
                   <li class="nav-item">
                  <a class="nav-link" href="/jobpostings"> Job Postings </span></a>
                       </li>
               </ul>
             </div>
           </nav>
         </div>
        <div class="form">
            <h2>Your event is created successfully!</h2>
            <p>You can <a href="https://calendar.google.com/calendar/r/month/2020/8/4?tab=rc" target="blank"> see it</a> in your Google Calendar</p>
        </div>
    </body>
</html>