.login-container {
    margin: 50px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

.form-group {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.email {
    padding-top: 10px;
}

.name-text {
    margin-right: 30vw;
}

.submitButton {
    margin-top: 20px;
}

alert {
    background-color: #9a1f40;
}
