{% extends "template.html" %}

{% block title %} {% block noshowtitle %} Message History {% endblock %}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href= "{{ url_for('static', filename='styles/chat.styles.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='styles/jobfinder.styles.css') }}">
{% endblock%}

{% block content %}
    <div class="row" style="padding-top:10px;" >
        <div class="col"><hr></div>
        <div class="col-auto"><p class="h3" align="center"> {% block historytitle %}View Message History  {% endblock %}</p></div>
        <div class="col"><hr></div>
    </div>
    <div class="container">
        <div class="overflow-auto" class="msgs" id="messagesHistory" style="overflow-y: scroll; height:500px;">
            {% for msg in history %}
                <div class="container darker"><b style="color:#000" class="left">{{msg["name"]}}</b><p> {{msg["message"]}}</p><span class="time-left">{{msg["time"]}}</span></div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript"
                    src="{{ url_for("static", filename="../static/responses/chat.js")}}"> </script>
    {% endblock %}