{% extends "template.html" %}

{% block title %} Chat {% endblock %}
{% block stylesheet %} <link rel="stylesheet" href= "{{ url_for('static', filename='styles/chat.styles.css') }}"> {% endblock %}

{% block messages %}
     {% with messages = get_flashed_messages() %}
       {% if messages %}
         <div class="alert alert-success alert-dismissible fade show" role="alert">
             {% for message in messages %}
               {{ message }}
             {% endfor %}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
       {% endif %}
     {% endwith %}
 {% endblock %}

{% block content %}
    <div class="row top" style=";" >
        <div class="col"><hr></div>
        <div class="col-auto"><p class="h3" align="center">{% block chat %} JOB POSTINGS {% endblock %}</p></div>
        <div class="col"><hr></div>
    </div>
    <div class="container container-large">
            <div id="messages" class="overflow-auto msgs">
               /
            </div>
    </div>
    <script type="text/javascript"
                src="{{ url_for("static", filename="../static/responses/jobpostings.js")}}"> </script>
{% endblock %}